@font-face {
    font-family: 'Geometria';
    src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
        url('Geometria-ExtraBold.woff2') format('woff2'),
        url('Geometria-ExtraBold.woff') format('woff'),
        url('Geometria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }