$clr-primary:   hsl(0, 0%, 0%);
$clr-secondary: hsl(205, 76%, 53%);
// $clr-accent: ;
$clr-white:     hsl(0, 0%, 100%);

$ff-primary-light:      'Geometria Light', sans-serif;
$ff-primary-regular:    'Geometria Regular', sans-serif;
$ff-primary-medium:     'Geometria Medium', sans-serif;
$ff-primary-bold:       'Geometria Bold', sans-serif;
$ff-primary-extra-bold: 'Geometria ExtraBold', sans-serif;
$ff-primary-heavy:      'Geometria Heavy', sans-serif;

$transition-default: .15s ease-in-out;

$container-max-width: 1140Px;
$container-padding-x: 20Px;

\:root {

}